.maincontainer {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(182, 226, 253);
  height: 250 px; 
}

.buttonWrapper {
  width: 70px;
  height: 45px;
}

.notesWrapper {
  font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  padding: 2px 4px;
}

#notes {
}

#notes:focus {
  outline: none;
}

.firstButton {
  font-weight: 700;
  width: 70px;
  height: 45px;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  margin-left: 180px;
  margin-right: 40px;
  border-radius: 5px;
  background: rgb(0, 167, 167);
  transition: 0.2s;
  outline: none;
} 
.firstButton:hover { background: rgb(54, 95, 95); }
.firstButton:active {
  background: rgb(54, 95, 95);
}

.slider {
  margin-left: 50px;
  -webkit-appearance: none;
  width: 20%;
  height: 15px;
  border-radius: 5px;  
  background: #A9A9A9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #008B8B;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #008B8B;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #008B8B;
  cursor: pointer;
}


